*{
    margin: 0;

}
body{
    background: black;
}
.asosi{
    display: flex;
    justify-content: space-between;
}
.text{
    display: flex;
    gap: 10px;
}
.a1{
    width: 74px;
    height: 49px;
    border-radius: 10px;
}

.a2{
    width: 74px;
    height: 49px;
    border-radius: 10px;
}

.a3{
    width: 74px;
    height: 49px;
    border-radius: 10px;
}

.a4{
    width: 74px;
    height: 49px;
    border-radius: 10px;
}

.a5{
    width: 74px;
    height: 49px;
    border-radius: 10px;
}

.a6{
    width: 74px;
    height: 49px;
    border-radius: 10px;
}